<%- include('_partials/header.ejs') %>
<main>
<article>
<% if (title) { %>
    <h1><%= title %></h1>
<% } %>
<ul>
    <% articleList.forEach(function(article) { %>
        <li><a href="<%= article.link %>"><%= article.meta.title %></a></li>
    <% }); %>
</ul>
</article>
</main>
</body>
</html>

