<%- include('_partials/header.ejs') %>
<main>
<article>
<ul>
    <% items.forEach(function(item) { %>
        <li><a href="<%= item %>"><%= item %></a></li>
    <% }); %>
</ul>
</article>
</main>
</body>
</html>